.App {
  text-align: center;
  background-color: #e0f7fa; /* Turquesa pastel */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.start-button {
  padding: 10px 20px;
  font-size: 15px;
  cursor: pointer;
  background-color: #008CBA; /* Azul */
  color: white;
  border: none;
  border-radius: 10px;
  margin-top: 5px;
  transition: background-color 0.3s;
}

.start-button:hover {
  background-color: #005f73;
}

h1 {
  color: #b39ddb; /* Lila pastel */
  margin-bottom: 5px;
}

p {
  font-size: 20px;
  color: #b39ddb; /* Lila pastel */
}

.board {
  position: relative;
  width: 100%;
  max-width: 500px;
  height: 500px;
  border: 1px solid #000;
  background-color: #ffffff;
}

.snake-dot {
  position: absolute;
  width: 2%;
  height: 2%;
  background-color: #81c784; /* Verde pastel */
}

.food-dot {
  position: absolute;
  width: 2%;
  height: 2%;
  background-color: #ff8a65; /* Rojo pastel */
}

.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.controls button {
  background-color: #81c784; /* Verde pastel */
  border: none;
  padding: 10px 20px;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px;
}

.controls button:hover {
  background-color: #66bb6a;
}

.controls div {
  display: flex;
  justify-content: center;
}

@media (max-width: 600px) {
  .board {
    width: 90%;
    height: 90vw;
  }

  .controls button {
    padding: 8px 16px;
    font-size: 14px;
  }
}
